/* Estilo global para todo el sitio web*/
:root {
  --background-color:rgb(144, 196, 255);

  --menu-color:rgb(6, 51, 94);
  --menu-text-color:rgb(219, 221, 223);
  --menu-text-color-hover:rgb(251, 253, 255);
  --menu-logo-border:rgb(0, 162, 255);
  --menu-logo-background:rgb(126, 177, 223);
  --menu-icon:whitesmoke;

  --button-background:#247aad;
  --button-color:rgb(219, 221, 223);

  --main-color:rgb(6, 51, 94);
}
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
html,
body {
  margin: unset;
  padding: unset;
}
/* Cabecera */
header {
  background-color: var(--background-color);
}
header > div {
  width: 100%;
  display: inline-block;
}
header > div#mensaje {
  background-image: linear-gradient(
    to right,
    #6b97d1,
    #849dce,
    #98a4cb,
    #a7acc7,
    #b4b4c4,
    #b4b4c4,
    #b4b4c4,
    #b4b4c4,
    #a7acc7,
    #98a4cb,
    #849dce,
    #6b97d1
  );
}
header > div#mensaje p {
  margin: 8px 0 0 10px;
  float: left;
}

header > div#mensaje a.rrss {
  display: block;
  float: right;
}

header div#mensaje a.rrss img {
  width: 30px;
}
header > hr {
  margin: unset;
}
/* Menú */
body > nav {
  position: sticky;
  top: 0;
  background-color: var(--menu-color);
  height: 50px;
}
body > nav ul {
  padding-left: 0;
  margin: unset;
  padding: 16px 0;
}
body > nav ul li {
  display: inline;
  padding: 0 20px;
}
body > nav ul li a {
  width: 120px;
  font-family: Arial;
  text-decoration: none;
  display: inline-block;
  color: var(--menu-text-color);
}
body > nav ul li a:hover {
  text-decoration: underline;
  color: var(--menu-text-color-hover);
  font-weight: bold;
}
a.header.logo {
  display: block;
  float: left;
}

a.header.logo img {
  border: 2px solid var(--menu-logo-border);
  background-color: var(--menu-logo-background);
  border-radius: 32%;
  width: 100px;
}
div#cabecera p {
  display: inline-block;
  vertical-align: middle;
  margin: 43px 10px;
}
div#cabecera > div {
  float: right;
  margin: 43px 10px;
}
div#cabecera i {
  margin-right: 10px;
  color: var(--menu-icon);
}
div#cabecera>div>i {
  margin-right: 100px;
}
/* Cuerpo */
section {
  display: inline-block;
  width: 100%;
}
form input[type="submit"], button {
  width: auto;
  margin-top: 20px;
  background: var(--button-background);
  color: var(--button-color);
  padding: 10px;
  border: unset;
  border-radius: 10px;
}

/* Footer */
footer {
  clear: both;
  /* position: absolute; */
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #a8c7e2;
  padding: 10px 0;
  display: inline-block;
}
footer p.info {
  width: 30%;
  display: inline-block;
}

footer div.enlaces {
  /* display: inline-block; */
  float: right;
}

footer div.enlaces ul li {
  font-variant: all-small-caps;
  list-style: none;
}

footer ul li a {
  color: black;
  text-decoration: none;
  min-width: 200px;
}

footer ul li a:hover {
  font-weight: bold;
}
/** CSS para categorias **/
article.categorias nav {
    float: left;
}
article>nav ul {
  padding: unset;
  margin: unset;
}

article>nav fieldset {
  margin: 35px 35px;
}
article.categorias nav ul li {
    list-style: none;
    margin: 18px 0px;
}

article.categorias nav ul li a {
    text-decoration: none;
    color: #636363;
}

article.categorias nav ul li a:hover {
    font-weight: bold;
    color: black;
}
article>nav ul li input[type=number] {
  width: 53px;
}
article div.articulos {
  width: auto;
  margin: 40px 5px;
}

article div.articulos>div {
  float: left;
  margin: 20px 10px;
  padding: 5px;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  min-width: 200px;
  min-height: 255px;
}

article div.articulos img {
  width: 160px;
  margin: 10px auto;
  display: block;
}

div.articulos p {
  max-width: 200px;
  padding: 0 10px;
}

div.articulos b {
  float: right;
  margin: 0 10px;
}
article div.item {
  display: inline-block;
  padding: 20px;
}

article div.item img {
  width: 25%;
  float: left;
}

article div.item div:nth-child(2) {
  width: 48%;
  float: left;
  padding: 1%;
}
article div.item div:nth-child(3) {
  width: 23%;
  padding: 1%;
  display: inline-block;
}
/** CSS CESTA **/
div#items > div {
  width: 100%;
  display: block;
}

div#items div img {
  margin: 1%;
  padding: 1%;
  float: left;
  height: 200px;
  width: 204px;
  border: 1px solid black;
}

div#items p {
  float: left;
  margin-top: 100px;
  width: 50%;
}

div#items div div {
  float: left;
  margin-top: 53px;
  width: 15%;
}
div#items div div > * {
  float: left;
  width: 100%;
}

div#items {
  width: 75%;
  float: left;
}

div#cuenta {
  width: auto;
  float: right;
  padding: 50px 50px;
}

div#items  input {
  width: 90px;
}
div#items button {
  float: left;
  margin-top: 90px;
}
form input[type="submit"]:active, button:active {
  background: #1b384a;
}

form input[type="submit"]:focus, button:focus {
  border: none;
}

div#items div div > input {
  width: 100px;
}